<link href="./articles.component.css"
      rel="stylesheet" type="text/css">


<div class="total">
    <p class="feed"> Global Feed</p>
    <span class="borde"></span>
    <hr class="borline"> <hr class="line">
    

    <a class="geronimo" href="https://react-redux-realworld.netlify.app/@Gerome">

    <img class="demo" src="assets/img/avatar.png" alt="Gerome">Gerome</a>
    <span class="date">Fri Oct 01 2021</span>
    <button class="bheart"><i class="fa fa-heart fa_custom">22</i></button>
    <a class="decoration" href="https://react-redux-realworld.netlify.app">
    <h1 class="titulo">Welcome to RealWorld project</h1>
    <p class="exemp">Exemplary fullstack Medium.com clone powered by React, Angular, Node, Django, and many more</p>
    <span class="readmore">Read more...</span> 
    <span class="welcome">welcome</span>
     <span class="intro">introduction</span>

    </a>

    <hr class="linetwo">
    <a class="geronimo" href="https://react-redux-realworld.netlify.app/@Gerome"
    ><img class="demo" src="assets/img/avatar.png" alt="Gerome">Gerome</a>
    <span class="date">Fri Oct 01 2021</span>
    <button class="bheart"><i class="fa fa-heart fa_custom">22</i></button>
    <a class="decoration" href="https://react-redux-realworld.netlify.app">
    <h1 class="titulo">Welcome to RealWorld project</h1>
    <p class="exemp">Exemplary fullstack Medium.com clone powered by React, Angular, Node, Django, and many more</p>
    <span class="readmore">Read more...</span> 
    <span class="welcome">welcome</span>
     <span class="intro">introduction</span>

    </a>

    <hr class="linetwo">
    <a class="geronimo" href="https://react-redux-realworld.netlify.app/@Gerome"
    ><img class="demo" src="assets/img/avatar.png" alt="Gerome">Gerome</a>
    <span class="date">Fri Oct 01 2021</span>
    <button class="bheart"><i class="fa fa-heart fa_custom">22</i></button>
    <a class="decoration" href="https://react-redux-realworld.netlify.app">
    <h1 class="titulo">Welcome to RealWorld project</h1>
    <p class="exemp">Exemplary fullstack Medium.com clone powered by React, Angular, Node, Django, and many more</p>
    <span class="readmore">Read more...</span> 
    <span class="welcome">welcome</span>
     <span class="intro">introduction</span>
    </a>

    <hr class="linetwo">

    <a class="geronimo" href="https://react-redux-realworld.netlify.app/@Gerome"
    ><img class="demo" src="assets/img/avatar.png" alt="Gerome">Gerome</a>
    <span class="date">Fri Oct 01 2021</span>
    <button class="bheart"><i class="fa fa-heart fa_custom">22</i></button>
    <a class="decoration" href="https://react-redux-realworld.netlify.app">
    <h1 class="titulo">Welcome to RealWorld project</h1>
    <p class="exemp">Exemplary fullstack Medium.com clone powered by React, Angular, Node, Django, and many more</p>
    <span class="readmore">Read more...</span> 
    <span class="welcome">welcome</span>
     <span class="intro">introduction</span>
    </a>

    <p class="poptag">Popular Tags</p>
    <p class="buttintro"> introduction </p>
    <p class="buttwel"> welcome </p>

</div>

